<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.DataDao">
    <resultMap id="t_data" type="com.model.Data">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="mid" property="mid" jdbcType="VARCHAR"/>
        <result column="sequence" property="sequence" jdbcType="VARCHAR"/>
        <result column="aa" property="aa" jdbcType="DOUBLE"/>
        <result column="bb" property="bb" jdbcType="DOUBLE"/>
        <result column="cc" property="cc" jdbcType="DOUBLE"/>
        <result column="dd" property="dd" jdbcType="DOUBLE"/>
        <result column="time" property="time" jdbcType="DATE"/>
    </resultMap>
    
    <insert id="upLoadData" parameterType="com.model.Data">
        INSERT INTO data (id, mid, sequence, aa, bb, cc, dd, time) VALUES (#{id}, #{mid}, #{sequence}, #{aa}, #{bb}, #{cc}, #{dd}, #{time})
    </insert>

    <select id="queryData" resultMap="t_data">
        SELECT * FROM data
        <where>
            <if test="startTime != null and startTime != '' ">
                <!--<![CDATA[ and time  >=  #{startTime}  ]]>-->
                AND time&gt;=#{startTime}
            </if>
            <if test="endTime !=null and endTime!='' "  >
                <!--<![CDATA[ and time <=  #{endTime}  ]]>-->
                AND time&lt;=#{endTime}
            </if>
            AND mid = #{mid}
        </where>
    </select>
</mapper>