<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.HistoryMidDao">
    <resultMap id="t_resHistory" type="com.model.HistoryMid">
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="mid" property="mid" jdbcType="VARCHAR"/>
        <result column="mid1" property="mid1" jdbcType="VARCHAR"/>
        <result column="mid2" property="mid2" jdbcType="VARCHAR"/>
        <result column="mid3" property="mid3" jdbcType="VARCHAR"/>
        <result column="comfortA_1" property="userComfortA1" jdbcType="DOUBLE"/>
        <result column="comfortA_2" property="userComfortA2" jdbcType="DOUBLE"/>
        <result column="comfortA_3" property="userComfortA3" jdbcType="DOUBLE"/>
        <result column="comfortA_4" property="userComfortA4" jdbcType="DOUBLE"/>
        <result column="comfortB_1" property="userComfortB1" jdbcType="DOUBLE"/>
        <result column="comfortB_2" property="userComfortB2" jdbcType="DOUBLE"/>
        <result column="comfortB_3" property="userComfortB3" jdbcType="DOUBLE"/>
        <result column="comfortB_4" property="userComfortB4" jdbcType="DOUBLE"/>
        <result column="comfortC_1" property="userComfortC1" jdbcType="DOUBLE"/>
        <result column="comfortC_2" property="userComfortC2" jdbcType="DOUBLE"/>
        <result column="comfortC_3" property="userComfortC3" jdbcType="DOUBLE"/>
        <result column="comfortC_4" property="userComfortC4" jdbcType="DOUBLE"/>
        <result column="comfortD_1" property="userComfortD1" jdbcType="DOUBLE"/>
        <result column="comfortD_2" property="userComfortD2" jdbcType="DOUBLE"/>
        <result column="comfortD_3" property="userComfortD3" jdbcType="DOUBLE"/>
        <result column="comfortD_4" property="userComfortD4" jdbcType="DOUBLE"/>
        <result column="first_calib" property="calibtime" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="user" type="com.model.HistoryMid" extends="t_resHistory">
        <collection property="user" ofType="com.model.User">
            <result column="id" property="id" jdbcType="VARCHAR"/>
            <result column="type_id" property="t_id" jdbcType="TINYINT"/>
            <result column="password" property="userPwd" jdbcType="VARCHAR"/>
            <result column="name" property="userName" jdbcType="VARCHAR"/>
            <result column="gender" property="userGender" jdbcType="TINYINT"/>
            <result column="email" property="userEmail" jdbcType="VARCHAR"/>
            <result column="phone" property="userPhone" jdbcType="VARCHAR"/>
            <result column="address" property="userAddress" jdbcType="VARCHAR"/>
            <result column="time" property="Time" jdbcType="DATE"/>
            <result column="comfort" property="userComfort" jdbcType="DOUBLE"/>
            <result column="uid" property="userUid" jdbcType="VARCHAR"/>
            <result column="mid" property="userMid" jdbcType="VARCHAR"/>
            <result column="mac" property="userMac" jdbcType="VARCHAR"/>
            <result column="age" property="userAge" jdbcType="VARCHAR"/>
            <result column="first_calibtime" property="userCalibtime" jdbcType="DATE"/>
            <result column="comfortA_1" property="userComfortA1" jdbcType="DOUBLE"/>
            <result column="comfortA_2" property="userComfortA2" jdbcType="DOUBLE"/>
            <result column="comfortA_3" property="userComfortA3" jdbcType="DOUBLE"/>
            <result column="comfortA_4" property="userComfortA4" jdbcType="DOUBLE"/>
            <result column="comfortB_1" property="userComfortB1" jdbcType="DOUBLE"/>
            <result column="comfortB_2" property="userComfortB2" jdbcType="DOUBLE"/>
            <result column="comfortB_3" property="userComfortB3" jdbcType="DOUBLE"/>
            <result column="comfortB_4" property="userComfortB4" jdbcType="DOUBLE"/>
            <result column="comfortC_1" property="userComfortC1" jdbcType="DOUBLE"/>
            <result column="comfortC_2" property="userComfortC2" jdbcType="DOUBLE"/>
            <result column="comfortC_3" property="userComfortC3" jdbcType="DOUBLE"/>
            <result column="comfortC_4" property="userComfortC4" jdbcType="DOUBLE"/>
            <result column="comfortD_1" property="userComfortD1" jdbcType="DOUBLE"/>
            <result column="comfortD_2" property="userComfortD2" jdbcType="DOUBLE"/>
            <result column="comfortD_3" property="userComfortD3" jdbcType="DOUBLE"/>
            <result column="comfortD_4" property="userComfortD4" jdbcType="DOUBLE"/>
        </collection>
    </resultMap>

    <!--将MID和对应的UID存储到历史表中-->
    <insert id="insertHistoryMid" parameterType="com.model.HistoryMid">
        INSERT INTO res_history (uid, mid,
        comfortA_1, comfortA_2, comfortA_3,comfortA_4,
        comfortB_1,comfortB_2,comfortB_3,comfortB_4,
        comfortC_1,comfortC_2,comfortC_3,comfortC_4,
        comfortD_1,comfortD_2,comfortD_3,comfortD_4,
        first_calib)
        VALUES (#{uid}, #{mid},
        #{userComfortA1}, #{userComfortA2}, #{userComfortA3},#{userComfortA4},
        #{userComfortB1}, #{userComfortB2}, #{userComfortB3},#{userComfortB4},
        #{userComfortC1}, #{userComfortC2}, #{userComfortC3},#{userComfortC4},
        #{userComfortD1}, #{userComfortD2}, #{userComfortD3},#{userComfortD4},
        #{calibtime})
    </insert>

    <select id="selectOldMid" resultMap="user">
        SELECT
        *
        FROM
        user WHERE uid = #{userUid}
    </select>

    <!--用户绑定机器的Mid-->
    <update id="setMid" parameterType="com.model.HistoryMid">
        UPDATE user SET mid = #{userMid} WHERE uid = #{userUid}
    </update>

</mapper>


