<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MessageDao">
    <resultMap id="t_message" type="com.model.Message">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="from_id" property="fromId" jdbcType="VARCHAR"/>
        <result column="to_id" property="toId" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
    </resultMap>

    <!--发送消息-->
    <insert id="sendMessage" parameterType="com.model.Message">
        INSERT INTO message (from_id, to_id, content, time) VALUES (#{fromId}, #{toId}, #{content}, #{time})
    </insert>

    <!--群发消息-->
    <!--<insert id="sendGroupMessage" parameterType="java.util.List">-->
        <!--INSERT INTO message (from_id, to_id, content, time)-->
        <!--VALUES-->
        <!--<foreach collection="list" item="item" index="index" separator=",">-->
            <!--(#{item.fromId}, #{item.toId}, #{item.content}, #{item.time})-->
        <!--</foreach>-->
    <!--</insert>-->
    <insert id="sendGroupMessage" parameterType="com.model.Message">
        INSERT INTO message (from_id, to_id, content, time) VALUES (#{fromId}, #{toId}, #{content}, #{time})
    </insert>

    <!--获得医生消息列表-->
    <select id="selectDocList" resultMap="t_message">
        SELECT * from message WHERE from_id = #{1} AND to_id = #{0}
    </select>

    <!--获得患者消息列表-->
    <select id="selectPatList" resultMap="t_message">
        SELECT * FROM message WHERE (to_id = #{0} AND from_id = #{1}) OR (from_id = #{0} AND to_id = #{1})
        ORDER BY time
    </select>

</mapper>