<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MessageDao">
    <resultMap id="t_message" type="com.model.Message">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="doc_id" property="docId" jdbcType="VARCHAR"/>
        <result column="pat_id" property="patId" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
    </resultMap>

    <!--发送消息-->
    <insert id="sendMessage" parameterType="com.model.Message">
        INSERT INTO message (doc_id, pat_id, content, time) VALUES (#{docId}, #{patId}, #{content}, #{time})
    </insert>

    <!--获得医生消息列表-->
    <select id="selectDocList" resultMap="t_message">
        SELECT * from message WHERE doc_id = #{docId}
    </select>

    <!--获得患者消息列表-->
    <select id="selectPatList" resultMap="t_message">
        SELECT * FROM message WHERE pat_id = #{0} AND doc_id = #{1}
    </select>
</mapper>